#root {
  width:100vw;
  height: 100vh;
  margin: 0rem auto;
  box-sizing: border-box;
  overflow: hidden;
}
.container{
  width:80%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.hamburger-menu{
  display: none;
}
.navbar{
  width:100%;
  height:6vh;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.links{
  display: flex;
  width: max-content;
  column-gap:2rem;
}
.btns{
  display: flex;
  gap:0.8rem;
}
.pages{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  height: 650px;
  
}
.part2{
  position: relative;
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.part2-img{
  width:350px;
  height: 350px;
  position: relative;
}
.part1{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
}

.img1{
  position: absolute;
 
  z-index: 2;
}
.img2{
  position: absolute;
  top:0.5rem;
  left: 0.5rem;
  z-index: 1;
}
.title{
  max-width: 370px;
  margin-bottom: 0rem;
}
.desc1{
  margin-bottom: 0rem;
}
.desc2{
  margin-top: 0rem;
  color:rgba(70, 70, 237, 0.916);
  font-style: italic;
}
.input-sec{
  width:12rem;
  height: 1.3rem;
  padding: 2px 5px;
  
}
.input-sec::placeholder,.input-sec1::placeholder{
  color:rgba(245, 245, 245, 0.795);
  font-family:  sans-serif;
}
.input-sec1{
  width:17.5rem;
  height: 1.7rem;
  padding: 2px 5px;
  margin-top: 0.6rem;
}
.name-section{
  display: flex;
  column-gap: 1rem;
  margin-bottom:0.5rem ;
  margin-top: 0.5rem;
}
.up-email{
  margin-top: 0.5rem;
}

.eye-size{
  font-size:1.5rem;
  position: relative;
  top:1vh;
  left:-1.9rem;
  background-color: inherit;
  margin-right: -1.5rem;
}
.btn-submit{
  width: 26.8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: rgb(4, 203, 203);
  color: blue;
  font-size: medium;
}
.btn-submit2{
  width: 18.4rem;

  margin-bottom: 1rem;
  background-color: rgb(4, 203, 203);
  color: blue;
  font-size: medium;
}
.btn-google{
  width: 26.8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(4, 203, 203);
  color: blue;
  font-size: medium;
}
.btn-google2{
  width: 18.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(4, 203, 203);
  color: blue;
  font-size: medium;
}
.form-type{
  width:12rem;
  height:2.4rem;
  background-color: rgba(60, 58, 58, 0.845);
  border-radius: 20px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.btn-formtype{
  height:2rem;
  width: 5.5rem;
  background-color:inherit;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.btn-formtype:hover{
  cursor: pointer;
}
.sups{
  color:red;
}
.fpass{
  width:fit-content;
  color:aqua;
  font-size: smaller;
  position: relative;
  top: -0.8rem;
  left:12rem;
}
.fpass:hover{
  cursor:pointer;
  color:red;
  transition: 400ms;
}
@media (max-width: 768px){
  .pages{
    flex-direction:column-reverse;
    height: max-content;
    overflow-y: scroll;
    z-index: 1;
  }
  .part2{
    width:100%;
    height:350px;
    box-sizing: border-box;
    padding-top: 0.8rem;
  }
  .part1{
    width: 100%;
  }
  .links{
      display: none;
  }
  .btns{
    display: none;
  }
  .hamburger-menu{
    display: block;
    font-size: 2.6rem;
    z-index: 3;
  }
  .mobile-menu{
    position: relative;
    top: 5.9rem;
    left:4rem;
    width:15rem;
    border-radius: 8px;
    height: 15rem;
    background-color: rgba(60, 58, 58, 0.845);
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 2;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
  }
  .links1{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .btns1{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .btns, p{
    margin: 0.1rem;
  }
}